@model IEnumerable<LISTAR_LIBROS_Q01>
@{

}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Libros</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <a asp-action="Modal" class="btn btn-success btn-sm guardar-dialog-window" type="button">Crear Nuevo</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Categoría</th>
                                <th>Editorial</th>
                                <th>Ubicación</th>
                                <th>Ejemplares</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Titulo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Autor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categoria)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Editorial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ubicacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ejemplares)
                                    </td>
                                    <td>
                                        @if (item.Estado)
                                        {
                                            <span class="badge badge-success p-2">Activo</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger p-2">Inactivo</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Modal" asp-route-id="@item.IdLibro" class="btn btn-primary btn-sm guardar-dialog-window"><i class="fas fa-pen"></i></a>
                                        <a data-id="@item.IdLibro.ToString()" class="btn btn-danger btn-sm ml-2 eliminar-dialog-window"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Libro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="teeee">Please wait...</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Delete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h5>¿Estas seguro de eliminar el registro seleccionado?</h5>
                </div>
                <div id="response" class="text-right">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var tabladata;
        $(document).ready(function () {
            tabladata = $('#tabla').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        });

        $("body").on("click", "a.guardar-dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#FormModal').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#FormModal .teeee').html(data);
                    $('#FormModal').modal();
                })
            }
        });

        $("body").on("click", "a.eliminar-dialog-window", null, function (e) {
            var htmlContent = '<div class="modal-footer"><button type="button" id="btnNo" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">No</button><a onclick=Eliminar(' + $(this).data('id') + ') class="btn btn-primary">Si</a></div>';
            $("#response").html(htmlContent);
            $('#Delete').modal('show');
        });


        function Guardar() {

            var objCategoria = new Object();
            objCategoria.IdLibro = $("#txtid").val();
            objCategoria.Titulo = $("#txttitulo").val();
            objCategoria.IdAutor = $("#cboautor").val();
            objCategoria.IdCategoria = $("#cbocategoria").val();
            objCategoria.IdEditorial = $("#cboeditorial").val();
            objCategoria.Ubicacion = $("#txtubicacion").val();
            objCategoria.Ejemplares = $("#txtejemplares").val();
            objCategoria.Estado = $("#cboEstado").val();

            var ImagenSeleccionada = ($("#filelibro"))[0].files[0];

            var data = new FormData();
            data.append('objeto', JSON.stringify(objCategoria));
            data.append('imagen', ImagenSeleccionada);
            debugger
            jQuery.ajax({
                type: "POST",
                url: '@Url.Action("Guardar", "Libro")',
                dataType: "json",
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data) {
                        $('#FormModal').modal('hide');
                        swal({
                            title: "Tu libro se guardo con exito!",
                            icon: "success",
                            button: "Aceptar",
                        }).then((value) => {
                            refrescar();
                        });
                    } else {
                        swal({
                            title: "No se pudo guardar los cambios!",
                            icon: "error",
                            button: "Aceptar",
                        });
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                },
            });
        }

        function Eliminar(idLibro) {
            jQuery.ajax({
                type: "POST",
                url: '@Url.Action("Eliminar", "Libro")',
                dataType: "json",
                data: { id: idLibro },
                success: function (data) {
                    if (data) {
                        $('#Delete').modal('hide');
                        swal({
                            title: "El libro seleccionado se eliminó con exito!",
                            icon: "success",
                            button: "Aceptar",
                        }).then((value) => {
                            refrescar();
                        });
                    } else {
                        swal({
                            title: "No se pudo eliminar el libro seleccionado!",
                            icon: "error",
                            button: "Aceptar",
                        });
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                },
            });
        }

        function readURL6(input) {
            const archivo = input.files[0];
            if (archivo) {
                const tipo = archivo.type;
                if (!tipo.startsWith('image/')) {
                    swal("¡Oops!", "Por favor, seleccione un archivo de imagen", "warning")
                    input.value = '';
                }
                else {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#imglibro')
                                .attr('src', e.target.result)
                                .width(190)
                                .height(192);
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                }
            }
        }

    </script>
}